In [1]:
# Import Pandas library
import pandas as pd

# Set data precision for the decimals
#pd.options.display.precision=2
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Read the Excel file
xls = pd.ExcelFile('2. Manufacturing.xlsx')

# Extract the sheet names from the excel file into a variable
companies = xls.sheet_names

# Create an empty lists: FinRatiolist / SharePricelist
FinRatiolist = []    # Long Term
SharePricelist = []  # Short term

# Temporary lists to store the pre-merger and post-merger share prices for all the companies separately
prelist = []  # Short term
postlist = []  # Short term

# Initialize an index variable with default value as Zero
idx=0

print("*******************************")
print("Data Cleaning activity started!")
print("*******************************")
# Loop the Sheet names in the Excel file
for company in companies:
    #If the sheet is for Share Price (Even index):
    if idx%2 != 0 :
        print('Cleaning Share Price data for :',company)
        #
        #   Business logic for Share Price(Short term) goes here
        #
        tdf_shareprice = pd.read_excel(xls, sheet_name=company)
        
         # Remove the columns where all rows are null
        tdf_shareprice = tdf_shareprice.loc[:, (tdf_shareprice.isnull().sum(axis=0) < len(tdf_shareprice))]
        tdf_shareprice
        tdf_shareprice.fillna(0, inplace=True)
        
        ############COLLECT PRE-MERGER RATIOS - START #############
        df_pre = tdf_shareprice.iloc[:,0:8]
        df_pre['Mergertype'] = 0 # 0-Premerger / 1-Post merger
        
        # Rename the Unnamed columns based on the Column Index
        df_pre = df_pre.rename(columns={df_pre.columns[0]: 'Date', 
                                              df_pre.columns[1]: 'Open', 
                                              df_pre.columns[2]: 'High', 
                                              df_pre.columns[3]: 'Low', 
                                              df_pre.columns[4]: 'Close', 
                                              df_pre.columns[5]: 'Volume', 
                                              df_pre.columns[6]: 'HLSpread', 
                                              df_pre.columns[7]: 'OCSpread'})
        
        # Temporary storage of the Pre-merger share prices for debugging
        #prelist.append(df_pre)
        
        # Filter the Pre-Merger share price rows where there are no values in any of the columns
        #some header columnshave "Volume" and "0" in the Volume column
        df_pre = df_pre[df_pre['Volume']!='Volume'] 
        df_pre = df_pre[df_pre['Volume']!=0]
        
        # Reformat the date column in the Pre-Merger dataframe
        df_pre['Date']= pd.to_datetime(df_pre.Date, infer_datetime_format=True, format='%d-%m-%Y')

        ############COLLECT PRE-MERGER RATIOS - END  #############
        
        
        ############COLLECT POST-MERGER RATIOS - START  #############
        df_post= tdf_shareprice.iloc[:,8:19]
        df_post['Mergertype'] = 1 #  0-Premerger / 1-Post merger
        
        # Rename the Unnamed columns based on the Column Index
        df_post = df_post.rename(columns={df_post.columns[0]: 'Date', 
                                              df_post.columns[1]: 'Open', 
                                              df_post.columns[2]: 'High', 
                                              df_post.columns[3]: 'Low', 
                                              df_post.columns[4]: 'Close', 
                                              df_post.columns[5]: 'Volume', 
                                              df_post.columns[6]: 'HLSpread', 
                                              df_post.columns[7]: 'OCSpread'})
        
        
        # Temporary storage of the Post-merger share prices for debugging
        #postlist.append(df_post)
        
        # Filter the Post-Merger share price rows where there are no values in any of the columns
        #some header columnshave "Volume" and "0" in the Volume column
        df_post = df_post[df_post['Volume']!='Volume']
        df_post = df_post[df_post['Volume']!=0]
        
        # Reformat the date column in the Post-Merger dataframe
        df_post['Date']= pd.to_datetime(df_post.Date, infer_datetime_format=True, format='%d-%m-%Y')

        ############COLLECT POST-MERGER RATIOS - END  #############       
        
        # CONCATENATE PRE & POST MERGER details into a single dataframe for a company
        df_shareprice= pd.concat([df_pre,df_post])
        
        # Add the Company information from the sheet name
        df_shareprice['Company'] = company
        
        # Add the data frame to the List (Share price list)
        SharePricelist.append(df_shareprice)
                
        #Increment the index value to navigate to the next sheet
        idx+=1
        
        # Go to Next sheet
        continue
        
    print('Cleaning Financial Ratio data for :',company)   
    #
    #   Business logic for Financial Ratios (Long term) goes here
    #
   
    #If the sheet is for Financial Ratios (Else part / Odd sheets):
    # Read the Excel based on the sheet name and load it into a temporary dataframe
    df_finratio = pd.read_excel(xls, sheet_name=company)

    # Rename the zeroth column as it is not unique in the excel (has company name attached to column header)
    df_finratio.rename(columns={ df_finratio.columns[0]: "FinRatio" }, inplace = True)

    # Add a new column to store the company name against each Ratio
    df_finratio['Company'] = company

    # Remove the columns where all rows are null
    #df_finratio = df_finratio.loc[:, (df_finratio.isnull().sum(axis=0) < len(df_finratio))]
    df_finratio=df_finratio.dropna(axis=1,how='all')
 
    # Replace null values by zero
    df_finratio.fillna(0, inplace=True)

    # Filter the rows which are not required (some header rows where there are no ratios specified)
    df_finratio = df_finratio[df_finratio['FinRatio'] !=0] 

    # Remove Pre-Mean and Post-Mean columns as it is not available in all sheets(Column Names - Unnamed: 4 & Unnamed: 9)
    if len(df_finratio.columns)==11:# where Pre-Mean and Post-Mean columns are available
        df_finratio = df_finratio.drop([df_finratio.columns[4] , df_finratio.columns[9]] , axis='columns')
        
    # Rename the Unnamed columns based on the Column Index
    df_finratio = df_finratio.rename(columns={df_finratio.columns[1]: 'Y-3', 
                                              df_finratio.columns[2]: 'Y-2', 
                                              df_finratio.columns[3]: 'Y-1', 
                                              df_finratio.columns[4]: 'Y', 
                                              df_finratio.columns[5]: 'Y+1', 
                                              df_finratio.columns[6]: 'Y+2', 
                                              df_finratio.columns[7]: 'Y+3'})
  
    # Add New Columns : PreMean, PostMean and MergeYear and default it to Zero
    df_finratio['PreMean']= df_finratio.iloc[:,1:4].mean(axis=1)
    df_finratio['PostMean']= df_finratio.iloc[:,5:8].mean(axis=1)
    df_finratio['MergeYear']=0
 
    # Add the data frame to the List (Financial Ratio list)
    FinRatiolist.append(df_finratio)

    #Increment the index value to navigate to the next sheet    
    idx+=1
    #print(idx)

    #Go to Next sheet
    continue

    
# Concatenate all share prices into a single dataframe
df_allshareprice= pd.concat(SharePricelist)

# Export the combined Share prices into an excel
df_allshareprice.to_excel('allshareprice.xlsx')
print("Share Price data export completed!")

# Concatenate all Financial Ratios into a single dataframe
df_allfinratio= pd.concat(FinRatiolist)

# Export the combined Financial ratios into an excel
df_allfinratio.to_excel('allfinratio.xlsx')
print("Financial data export completed!")

print("*********************************")
print("Data Cleaning activity completed!")
print("*********************************")
# End of Program #

*******************************
Data Cleaning activity started!
*******************************
Cleaning Financial Ratio data for : Tata Chemicals
Cleaning Share Price data for : Tata Chemicals (2)

C:\Users\prithivirajan.n\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\prithivirajan.n\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Cleaning Financial Ratio data for : Reliance Power
Cleaning Share Price data for : Reliance Power (2)
Cleaning Financial Ratio data for : Abbott
Cleaning Share Price data for : Abbott (2)
Cleaning Financial Ratio data for : JSW Steel
Cleaning Share Price data for : JSW Steel (2)
Cleaning Financial Ratio data for : Mahindra
Cleaning Share Price data for : Mahindra (2)
Cleaning Financial Ratio data for : Fortis
Cleaning Share Price data for : Fortis (2)
Cleaning Financial Ratio data for : Adani
Cleaning Share Price data for : Adani (2)
Cleaning Financial Ratio data for : ONGC Videsh
Cleaning Share Price data for : ONGC
Cleaning Financial Ratio data for : Rain
Cleaning Share Price data for : Rain (2)
Cleaning Financial Ratio data for : Hero
Cleaning Share Price data for : Hero (2)
Cleaning Financial Ratio data for : Sun Pharma
Cleaning Share Price data for : Sun Pharma (2)
Cleaning Financial Ratio data for : Piramal Enterprises
Cleaning Share Price data for : Piramal
Cleaning Financial Ratio data for : IOC
Cleaning Share Price data for : IOC (2)
Cleaning Financial Ratio data for : Ultratech Cement
Cleaning Share Price data for : Ultratech cement (2)
Cleaning Financial Ratio data for : NTPC
Cleaning Share Price data for : NTPC (2)
Cleaning Financial Ratio data for : Pfizer
Cleaning Share Price data for : Pfizer (2)
Cleaning Financial Ratio data for : Torrent
Cleaning Share Price data for : Torrent
Cleaning Financial Ratio data for : Exide
Cleaning Share Price data for : Exide (2)
Cleaning Financial Ratio data for : Cipla
Cleaning Share Price data for : Cipla (2)
Cleaning Financial Ratio data for : JSW Energy
Cleaning Share Price data for : JSW Energy (2)
Cleaning Financial Ratio data for : Aurobindo
Cleaning Share Price data for : Aurobindo (2)
Cleaning Financial Ratio data for : ACC
Cleaning Share Price data for : ACC (2)
Cleaning Financial Ratio data for : Havells
Cleaning Share Price data for : Havells (2)
Share Price data export completed!
Financial data export completed!
*********************************
Data Cleaning activity completed!
*********************************

In [1]:
FinRatiolist[4]

NameError: name 'FinRatiolist' is not defined

In [97]:
prelist[0]

,Date,Open,High,Low,Close,Volume,HLSpread,OCSpread,Mergertype
0,Historic Data for the Period : 01-Jan-2009 to ...,0,0,0,0,0,0,0,0
1,Pre-Merger,0,0,0,0,0,0,0,0
2,Period High : 341.80,Period Low : 99.70,Change in market-cap : 96.34%,0,0,0,0,0,0
3,Date,Open,High,Low,Close,Volume,- SPREAD -,0,0
4,0,0,0,0,0,0,(High-Low),(Open-Close),0
5,31-12-2009,336,341.80,320,322.20,266778,21.80,13.80,0
6,30-12-2009,322.80,336.80,321.10,332.85,279495,15.70,-10.05,0
7,29-12-2009,323.40,324,320.30,321.70,91584,3.70,1.70,0
8,24-12-2009,324.40,324.85,320,322.05,93636,4.85,2.35,0
9,23-12-2009,315.25,322.90,315,320.50,82926,7.90,-5.25,0
10,22-12-2009,316.25,320,312,314.40,64468,8,1.85,0
11,21-12-2009,321.70,323.90,313.20,314.70,98989,10.70,7,0
12,18-12-2009,326.80,330.80,317,319.10,126826,13.80,7.70,0
13,17-12-2009,318.95,329,317.50,326.80,240499,11.50,-7.85,0
14,16-12-2009,312.90,320.40,310,317.75,132195,10.40,-4.85,0
15,15-12-2009,314.90,320.95,311.15,312.90,106825,9.80,2,0
16,14-12-2009,315.90,317.80,313,315,46113,4.80,0.90,0
17,2009-11-12 00:00:00,321.90,321.90,313.60,314.95,73659,8.30,6.95,0
18,2009-10-12 00:00:00,324,324,315.10,316.90,92730,8.90,7.10,0
19,2009-09-12 00:00:00,324.90,325.25,316.25,319.35,85339,9,5.55,0
20,2009-08-12 00:00:00,314.90,324.70,314.75,322.60,175615,9.95,-7.70,0
21,2009-07-12 00:00:00,320,321.70,311.10,315.15,107858,10.60,4.85,0
22,2009-04-12 00:00:00,314,324,314,318.70,284571,10,-4.70,0
23,2009-03-12 00:00:00,310,318.90,308.50,315.85,379064,10.40,-5.85,0
24,2009-02-12 00:00:00,296,308.05,292.90,305.40,385162,15.15,-9.40,0
25,2009-01-12 00:00:00,281,299.80,281,293.80,203941,18.80,-12.80,0
26,30-11-2009,280.05,284,278,280.65,35292,6,-0.60,0
27,27-11-2009,275.25,279.95,272,277.80,55432,7.95,-2.55,0
28,26-11-2009,284,287.80,280.20,282.80,36386,7.60,1.20,0
29,25-11-2009,290.40,293,282.55,284.15,61507,10.45,6.25,0
...,...,...,...,...,...,...,...,...,...
222,2009-06-02 00:00:00,144,148.50,144,145.95,45407,4.50,-1.95,0
223,2009-05-02 00:00:00,147.50,147.50,142.25,144.50,68839,5.25,3,0
224,2009-04-02 00:00:00,150,151.50,145.40,146.55,55241,6.10,3.45,0
225,2009-03-02 00:00:00,154.20,154.20,146.05,149.45,55075,8.15,4.75,0
226,2009-02-02 00:00:00,155,159,151.05,152,69474,7.95,3,0
227,30-01-2009,154,155.15,152.10,153.50,109838,3.05,0.50,0
228,29-01-2009,159.20,159.20,151.70,156,143780,7.50,3.20,0
229,28-01-2009,155,158,152.60,155.80,70728,5.40,-0.80,0
230,27-01-2009,152,153.90,149.50,153.05,46599,4.40,-1.05,0
231,23-01-2009,153,155.70,147,149.45,84572,8.70,3.55,0
232,22-01-2009,157.25,157.90,150,154.95,50291,7.90,2.30,0
233,21-01-2009,160,160,155.70,156.80,63152,4.30,3.20,0
234,20-01-2009,164,165,159.55,160.60,93993,5.45,3.40,0
235,19-01-2009,166.50,169.80,163.30,164.80,47511,6.50,1.70,0
236,16-01-2009,163,165.50,159.10,164,43252,6.40,-1,0
237,15-01-2009,164,165.50,157,160.45,69038,8.50,3.55,0
238,14-01-2009,165,169,164,166.80,42889,5,-1.80,0
239,13-01-2009,165,169,162.60,164.70,56833,6.40,0.30,0
240,2009-12-01 00:00:00,167,172.50,163,167.05,61536,9.50,-0.05,0
241,2009-09-01 00:00:00,172,172,163.50,166.55,112063,8.50,5.45,0
242,2009-07-01 00:00:00,177.05,182.90,169.20,174.75,272717,13.70,2.30,0
243,2009-06-01 00:00:00,170,178,168.50,177.05,204368,9.50,-7.05,0
244,2009-05-01 00:00:00,174,174.90,168.55,172.10,135211,6.35,1.90,0
245,2009-02-01 00:00:00,170,173.55,168,170.85,115091,5.55,-0.85,0
246,2009-01-01 00:00:00,164.10,168.55,164.10,168,77047,4.45,-3.90,0
247,0,0,0,0,0,0,0,0,0
248,0,0,0,0,0,0,0,0,0
249,0,0,0,0,0,0,0,0,0
250,0,0,0,0,0,0,0,0,0
251,0,0,0,0,0,0,0,0,0

In [98]:
postlist[0]

,Date,Open,High,Low,Close,Volume,HLSpread,OCSpread,Mergertype
0,Historic Data for the Period : 01-Jan-2011 to ...,0,0,0,0,0,0,0,1
1,Post Merger,0,0,0,0,0,0,0,1
2,Period High : 412.00,Period Low : 287.80,Change in market-cap : -21.18%,0,0,0,0,0,1
3,Date,Open,High,Low,Close,Volume,- SPREAD -,0,1
4,0,0,0,0,0,0,(High-Low),(Open-Close),1
5,30-12-2011,311,314,305.05,311.35,17570,8.95,-0.35,1
6,29-12-2011,308.90,313.20,303.95,308.65,19504,9.25,0.25,1
7,28-12-2011,312,312.60,302.85,306.85,30029,9.75,5.15,1
8,27-12-2011,316,318.25,311.25,312.65,13825,7,3.35,1
9,26-12-2011,317.90,318.45,315.10,317,13272,3.35,0.90,1
10,23-12-2011,321,323.40,313,313.85,28576,10.40,7.15,1
11,22-12-2011,317,324.15,309.15,319.85,47419,15,-2.85,1
12,21-12-2011,316,319.40,312,317.25,25429,7.40,-1.25,1
13,20-12-2011,322.15,326,314.10,315.60,120775,11.90,6.55,1
14,19-12-2011,326,326.85,318,325.05,27643,8.85,0.95,1
15,16-12-2011,334,334,323,325.75,20679,11,8.25,1
16,15-12-2011,333,335.70,322.05,334.20,44140,13.65,-1.20,1
17,14-12-2011,345,345,333.25,334.80,16578,11.75,10.20,1
18,13-12-2011,345,345.95,340.25,344.75,29950,5.70,0.25,1
19,2011-12-12 00:00:00,351,353.85,344.05,346.85,27018,9.80,4.15,1
20,2011-09-12 00:00:00,351.50,354.50,349.80,350.65,17119,4.70,0.85,1
21,2011-08-12 00:00:00,356.80,357.45,349.50,354.75,24364,7.95,2.05,1
22,2011-07-12 00:00:00,353,359.90,353,355.45,38991,6.90,-2.45,1
23,2011-05-12 00:00:00,353.50,353.50,346.60,350.70,29023,6.90,2.80,1
24,2011-02-12 00:00:00,352,356.85,350,352,66345,6.85,0,1
25,2011-01-12 00:00:00,351.75,355,348.20,349.50,78428,6.80,2.25,1
26,30-11-2011,339,347.45,336,345.55,31237,11.45,-6.55,1
27,29-11-2011,344.10,349.55,340.30,342.05,38757,9.25,2.05,1
28,28-11-2011,352,357.50,342,343.20,64459,15.50,8.80,1
29,25-11-2011,330,348.80,328,345.30,149743,20.80,-15.30,1
...,...,...,...,...,...,...,...,...,...
222,14-02-2011,317,319.90,312,318.30,74994,7.90,-1.30,1
223,2011-11-02 00:00:00,310,312.90,306,311.20,47447,6.90,-1.20,1
224,2011-10-02 00:00:00,314.25,315,302,304,85686,13,10.25,1
225,2011-09-02 00:00:00,326,326,312.30,313.75,46220,13.70,12.25,1
226,2011-08-02 00:00:00,335,335.40,323,325.90,34840,12.40,9.10,1
227,2011-07-02 00:00:00,335.45,338.50,332.10,333.50,44784,6.40,1.95,1
228,2011-04-02 00:00:00,347,349.05,333.30,336.05,67733,15.75,10.95,1
229,2011-03-02 00:00:00,332,345.60,331,344.30,81102,14.60,-12.30,1
230,2011-02-02 00:00:00,346.90,349.80,332.80,335.35,84971,17,11.55,1
231,2011-01-02 00:00:00,350,355.40,339.05,342.50,32528,16.35,7.50,1
232,31-01-2011,342.70,353.90,335.10,350.60,47603,18.80,-7.90,1
233,28-01-2011,349.20,352,335,344.55,112444,17,4.65,1
234,27-01-2011,375.10,376.80,348.90,351.15,253921,27.90,23.95,1
235,25-01-2011,377.85,379.80,373.50,374.10,26317,6.30,3.75,1
236,24-01-2011,373,375.75,371.10,373.70,29860,4.65,-0.70,1
237,21-01-2011,380,383,372.10,373.30,35961,10.90,6.70,1
238,20-01-2011,377,382,375.55,376.85,28528,6.45,0.15,1
239,19-01-2011,381.90,387.80,377,379.25,69912,10.80,2.65,1
240,18-01-2011,379,383.90,375.55,380,24562,8.35,-1,1
241,17-01-2011,386.95,386.95,373.35,378.10,55115,13.60,8.85,1
242,14-01-2011,380.50,387.50,376,382.20,50964,11.50,-1.70,1
243,13-01-2011,384,393.05,379.20,381.55,76722,13.85,2.45,1
244,2011-12-01 00:00:00,384,386.90,376.50,382.55,58243,10.40,1.45,1
245,2011-11-01 00:00:00,374,384.50,368,380.40,61670,16.50,-6.40,1
246,2011-10-01 00:00:00,375.15,383.20,370.10,372.85,53456,13.10,2.30,1
247,2011-07-01 00:00:00,381.50,392.40,373,376.85,105580,19.40,4.65,1
248,2011-06-01 00:00:00,396.50,397.95,381.25,386.10,99911,16.70,10.40,1
249,2011-05-01 00:00:00,410.40,411.30,396.20,398.65,115548,15.10,11.75,1
250,2011-04-01 00:00:00,408,412,405,407.15,187344,7,0.85,1
251,2011-03-01 00:00:00,395,406.90,395,404.15,166824,11.90,-9.15,1